<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.odelia.sociogrammobile"
        versionCode = "10"
        version     = "1.0.0">
 
    <name>Sociogram Mobile</name>
 
    <description>
        A Starter-Kit Application for PhoneGap and Facebook Integration.
    </description>
 
    <author href="http://odelia" email="bertrand.goetzmann@gmail.com">
        Bertrand Goetzmann
    </author>
 
    <!-- <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/> -->

    <plugin name="com.phonegap.plugins.facebookconnect" value="FacebookConnectPlugin">
        <param name="APP_ID" value="480506615360650" />
        <param name="APP_NAME" value="Sociogram Mobile" />
    </plugin> 
 
</widget>